* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.inventory,
.contacts,
.sign-up {
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.location, 
.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.phone {
  margin-bottom: 100px;
}

.inventory {
  /* background-image: url('/images/img-2.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contacts {
  /* background-image: url('/images/img-1.jpg'); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #000000;
  font-size: 100px;
}

.sign-up {
  /* background-image: url('/images/img-8.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.test {
  /* background: url(./components/images/pottery.jpg) center center/cover no-repeat; */
  width: 500px;
  height: 500px;
}